/* sn */
.sn-container.fl-tl.fl-c{
  gap: 2.08vw;
}
@media(max-width: 1000px){
  .sn-container.fl-tl.fl-c{
    gap: 3.37vw;
  }
}
@media(max-width: 550px){
  .sn-container.fl-tl.fl-c{
    gap: 5.11vw;
  }
}

.sn-info-title{
  background: rgba(45, 29, 88, 0.89);
  box-shadow: 8px -8px 0px 4px rgba(173, 165, 192, 0.45);
  padding: 0.5em;
  margin-bottom: 0.75em;

  font-family: var(--font-family);
  font-weight: 500;
  font-size: 2rem;
  line-height: 1em;
  text-align: center;
  
  color: var(--color-bg);
}
@media(max-width: 1250px){
  .sn-info-title{
    font-size: 1.4rem;
  }
}

.sn-info p{
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 1.25em;
  color: var(--color-card-text);
}
@media(max-width: 1250px){
  .sn-info p{
    font-size: 1rem;
  }
}

.sn-faq h4{
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1em;
  color: var(--color-card-text);
  margin-bottom: 15px;
}
@media(max-width: 1250px){
  .sn-faq h4{
    font-size: 1.3rem;
  }
}

.sn-faqs.fl-tl.fl-c{
  gap: 0.69vw;
  list-style-position: inside;
}

.sn-faqs li{
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 1em;
  color: var(--color-card-text);
  cursor: pointer;
}
@media(max-width: 1250px){
  .sn-faqs li{
    font-size: 1rem;
  }
}