.cbm-title
  @include def-p
  color: $color-subtext
  font-weight: 600
  letter-spacing: 0.02em

.cbm-creator
  width: 100%
  @include fl-tl
  @include fl-c
  gap: 0.5em
  h2
    @include def-h
    letter-spacing: 0.03em
    color: $color-card-text
  p
    @include def-p
    font-size: 1.2rem
    color: $color-subtext
    letter-spacing: 0.03em

.cbm-contacts
  width: 100%
  @include fl-tl
  @include fl-c
  gap: 0.8em

.cbm-contact
  @include fl-cl
  gap: 0.4em
  @include def-p
  color: $color-subtext
  &.--socials
    gap: 0.8em

.cbm-social-icon
  color: $color-card-text
  height: 1.6rem
  transition: all 0.2s ease
  &:hover
    opacity: 0.6

.cbm-email-icon
  height: 1.3rem

.cbm-other-creators
  width: 100%
  @include fl-tl
  @include fl-c
  gap: 0.8em